<style>
  ol,ul { margin: 0px; padding: 0px}
  li {
    list-style-type: none;
  }

  #commit-list > li {
    border: solid thin black;
    margin: 5px;
  }
  #commit-list > li:hover {
    background-color: yellow
  }

  .commit-issues li { display: inline }

  .merge {
    background-color: #ccc
  }
</style>

<h2>Pending Commits</h2>
<ol id="commit-list">
  <% @commits.each do |commit|
    commit_type = commit.parents.length > 1 ? "merge" : "direct"
  %>
<li class="<%=commit_type %>">
  <span class="commit-status">VERIFIED</span>
  <span class="commit-sha"><%= commit.sha[0..9] %></span>
  <span class="commit-subject"><%= commit.subject %></span>
  <% unless commit.body.empty? %>
 <div class="commit-message"><pre><%= commit.body %></pre></div>
<% end %>
<ul class="commit-issues">
  <% commit.issues.each do |issue| %>
    <li><%= issue %></li>
  <% end %>
</ul>
<ol>
  <% commit.contributing_commits.each do |hidden_commit| %>
    <li>
      <span class="commit-sha"><%= hidden_commit.sha[0..9] %></span>
    </li>
  <% end %>
</ol>
</li>
<% end %>
</ol>
